{% extends "AppBackOfficeBundle::Emails/layout.html.twig" %}
{% block body %}
<h2>{{ 'HELLO' | trans }} {{ entity.firstName }}!</h2>
<p>Este es un c칩digo de verificaci칩n de email:</p>
<h3>{{ code }}</h3>
<p>el mismo tiene una duraci칩n de 24h, si dentro de este lapso no lo utilizaste, tendr치s que generar uno nuevo</p>
{% endblock %}